[user]
	name = Bastien BESSIERE
	email = bastien.bessiere@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
[alias]
	lol = log --graph --decorate --oneline --all
	index = ls-files --stage
[merge]
	tool = kdiff3
[push]
	followTags = true
